[submodule "Vendor/UniversalDetector"]
	path = Vendor/UniversalDetector
	url = https://github.com/MaddTheSane/UniversalDetector.git
[submodule "XADMaster-2"]
	path = Vendor/XADMaster
	url = https://github.com/MaddTheSane/XADMaster-2.git
