# Based on http://shanesbrain.net/2008/7/9/using-xcode-with-git

# xcode noise
build/*
QuickComic/build/*
.DS_Store
*.mode1v3
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# SVN
.svn

# osx noise
.DS_Store
profile

