[submodule "Vendor/UniversalDetector"]
	path = Vendor/UniversalDetector
	url = https://github.com/MaddTheSane/UniversalDetector.git
[submodule "Vendor/XADMaster-1"]
	path = Vendor/XADMaster
	url = https://github.com/MaddTheSane/XADMaster-1.git
