<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>directory</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.directory</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
				<string>RAR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rar</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/rar</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RAR archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.rarlab.rar-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
				<string>ZIP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zip</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/zip</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ZIP archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>PDF</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>7z</string>
				<string>7Z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>7z</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-7z-compressed</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>7-Zip Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.7-zip.7-zip-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lha</string>
				<string>lzh</string>
				<string>LHA</string>
				<string>LZH</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>lzh</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-lzh-compressed</string>
				<string>application/lha</string>
				<string>application/x-lha</string>
				<string>application/lzh</string>
				<string>application/x-lzh</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LhA Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>cx.c3.lha-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbz</string>
				<string>CBZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cbz</string>
			<key>CFBundleTypeName</key>
			<string>Comic Zip</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.macitbetter.cbz-archive</string>
				<string>public.cbz-archive</string>
				<string>cx.c3.cbz-archive</string>
				<string>com.milke.cbz-archive</string>
				<string>com.bitcartel.comicbooklover.cbz</string>
				<string>public.archive.cbz</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cb7</string>
				<string>CB7</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cb7</string>
			<key>CFBundleTypeName</key>
			<string>Comic 7-Zip</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.macitbetter.cb7-archive</string>
				<string>public.cb7-archive</string>
				<string>cx.c3.cb7-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbr</string>
				<string>CBR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cbr</string>
			<key>CFBundleTypeName</key>
			<string>Comic Rar</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.macitbetter.cbr-archive</string>
				<string>public.cbr-archive</string>
				<string>cx.c3.cbr-archive</string>
				<string>com.bitcartel.comicbooklover.cbr</string>
				<string>com.milke.cbr-archive</string>
				<string>public.archive.cbr</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpeg</string>
				<string>jpg</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PNG Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpx</string>
				<string>jp2</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jp2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG200 Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg-2000</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GIF Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Simple Comic Help</string>
	<key>CFBundleIdentifier</key>
	<string>com.tsst.simplecomic</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleSignature</key>
	<string>TSST</string>
	<key>CFBundleVersion</key>
	<string>252</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://www.dancingtortoise.com/simplecomic/simplecomic.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data </string>
				<string>public.archive </string>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Comic Book Zip Archive</string>
			<key>UTTypeIconFile</key>
			<string>sc_cbz</string>
			<key>UTTypeIdentifier</key>
			<string>cx.c3.cbz-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CBZ</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>cbz</string>
					<string>CBZ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data </string>
				<string>public.archive </string>
				<string>com.rarlab.rar-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Comic Book Rar Archive</string>
			<key>UTTypeIconFile</key>
			<string>sc_cbr</string>
			<key>UTTypeIdentifier</key>
			<string>cx.c3.cbr-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CBR</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>cbr</string>
					<string>CBR</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data </string>
				<string>public.archive </string>
			</array>
			<key>UTTypeDescription</key>
			<string>Comic Book 7-Zip Archive</string>
			<key>UTTypeIconFile</key>
			<string>sc_7z</string>
			<key>UTTypeIdentifier</key>
			<string>cx.c3.cb7-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CB7</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>cb7</string>
					<string>CB7</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LHA Archive</string>
			<key>UTTypeIconFile</key>
			<string>sc_lha</string>
			<key>UTTypeIdentifier</key>
			<string>cx.c3.lha-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lha</string>
					<string>LHA</string>
					<string>lzh</string>
					<string>LZH</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/lzh</string>
					<string>application/x-lzh</string>
					<string>application/x-lzh-compressed</string>
					<string>application/lha</string>
					<string>application/x-lha</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>7z Archive</string>
			<key>UTTypeIconFile</key>
			<string>sc_7z</string>
			<key>UTTypeIdentifier</key>
			<string>org.7-zip.7-zip-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>7z</string>
					<string>7Z</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-7z-compressed</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
				<string>org.7-zip.7-zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>7z Comic Archive Archive</string>
			<key>UTTypeIconFile</key>
			<string>sc_7z</string>
			<key>UTTypeIdentifier</key>
			<string>org.7-zip.7-zip-comic-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CB7</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>cb7</string>
					<string>CB7</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-cb7-compressed</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RAR Archive</string>
			<key>UTTypeIconFile</key>
			<string>sc_rar</string>
			<key>UTTypeIdentifier</key>
			<string>com.rarlab.rar-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rar</string>
					<string>RAR</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-rar</string>
					<string>application/x-rar-compressed</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
