<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>cx.c3.cbr-archive</string>
				<string>cx.c3.cbz-archive</string>
				<string>cx.c3.cb7-archive</string>
				<string>com.macitbetter.cbr-archive</string>
				<string>com.macitbetter.cbz-archive</string>
				<string>com.macitbetter.cb7-archive</string>
				<string>public.cbr-archive</string>
				<string>public.cbz-archive</string>
				<string>org.7-zip.7-zip-comic-archive</string>
				<string>com.bitcartel.comicbooklover.cbz</string>
				<string>com.bitcartel.comicbooklover.cbr</string>
				<string>com.milke.cbz-archive</string>
				<string>com.milke.cbr-archive</string>
				<string>public.archive.cbz</string>
				<string>public.archive.cbr</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3</string>
	<key>CFBundleSignature</key>
	<string>TSST</string>
	<key>CFBundleVersion</key>
	<string>11</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>D0248518-600D-47CC-9C46-EFE3A3ED6B2D</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>D0248518-600D-47CC-9C46-EFE3A3ED6B2D</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<real>600</real>
	<key>QLPreviewWidth</key>
	<real>800</real>
	<key>QLSupportsConcurrentRequests</key>
	<true/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
</dict>
</plist>
